body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Settings */
.setting {
    display: block;
    outline: 5px solid black;
    margin: 50px;
    padding: 10px;
    text-align: center;
}

#color-selector {
    width: 100px;
    margin: 10px;
}

#clear {
    margin: 10px;
}

/* Board */
.board {
    display: grid;
    background-color: #fff;
    outline: 5px solid black;
    width: 500px;
    height: 500px;
    margin: 50px;
}

.pixel {
    border: 1px solid rgba(0, 0, 0, 0.8);
}