body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.board {
    display: flex;
    outline: 5px solid red;
    width: 500px;
    height: 500px;
    padding: 5px;
}

.pixel {
    flex: 1;
    outline: 5px solid blue;
}