* {
    user-select: none;
    -webkit-user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Settings */
.setting {
    display: flex;
    flex-direction: column;
    outline: 5px solid black;
    margin: 50px;
    padding: 10px;
    text-align: center;
}

#color-selector {
    width: 120px;
    margin: 10px;
}

.setting-button {
    margin: 10px;
}

/* Save Image */
.save {
    display: flex;
    flex-direction: column;
    outline: 5px solid black;
    margin: 50px;
    padding: 10px;
    text-align: center;
}

/* Board */
.board {
    display: grid;
    background-color: #fff;
    border: 5px solid black;
    width: 500px;
    height: 500px;
    margin: 50px;
}